{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-native"
  ],
  "rules": {
    "import/no-unresolved": [
      2, {
        "ignore": ["@components", "@config", "@containers", "@redux", "@resources", "@sagas", "@tools"]
      }
    ],
    "max-len": [2, 120],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": [0],
    "react/no-access-state-in-setstate": [0]
  }
}
